@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-primary: #630ed4;
  --color-background: #f7f4ff;
  --color-foreground: #24114d;
  --color-muted: #756b84;
  --color-surface: #ffffff;
  --color-border: #e6ddf6;
}
